{% extends 'base/base.html' %}

{% block title %}
Category List
{% endblock title %}

{% block content %}

<main>

    <h1>Expense Categories</h1>

    <table>

        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>

        <tbody>
            {% for expense_category in expense_categories %}
                <tr>
                    <td>{{ expense_category.name }}</td>
                    <td>{{ expense_category.receipts.all|length }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

</main>

{% endblock content %}